
# Python
**/__pycache__

# Generated json files (except annotations)
# Generated csv files (except pre-existing csvs)
*.json
*.csv
*.tsv
!**/nyt-ingredients-snapshot-2015-filtered.csv
!data/annotations/*


# Generated encodings
models/metric/encoding/*

# Generated comparison indexes
data/comparisons/*.npy

# Models
models/*

# Text files in the root directory and recipes folder
/*.txt
**/recipes/*.txt

# tsv files
**/*.tsv

# zipped metric models
tar-models/*